*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emoji{
    font-size: 7rem;
    user-select: none;
}

.closed{
    display: none;
}

.open{
    display: none;
    font-size: 12rem;
}

.active{
    display: block;
}