@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'nunito' , sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    transition: all 0.2 ease;
    scroll-behavior: smooth;
}

:root{
    --pri-clr:#D82148;
    --sec-clr:#f9f9f9;
    --text-clr:#6b705c;
    --white-clr:#ffffff;
    --bg-clr:#fff0f3;
    --heading-clr:#5b5252;
    --shadow-clr:#333533;
    --shadowdark-clr:#202020;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: var(--bg-clr);
}
::-webkit-scrollbar-thumb{
    background-color: var(--pri-clr);
}

body{
    font-size: 1rem;
    background-color: var(--white-clr);
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

header{
    display: flex;
    background-color: var(--sec-clr);
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0%;
    z-index: 9;
}

header .logo{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 3rem 1rem 4rem;
    color: var(--text-clr);
}

header .logo i{
    color: var(--pri-clr);
    padding-right: 0.3rem;
}


header .navbar{
    margin-left: 33rem;
}

nav{
    position: fixed;
    width: 100%;
    padding: 1.25rem 0;
    z-index: 999;
    transition: all 0.2s ease;
}


header .navbar a{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 5rem 0.3rem 5rem 0.3rem;
    padding: 0.3rem 1rem;
    color: var(--text-clr);
    border: 1px solid transparent;
    z-index: 999;
}

header .navbar a:hover{
     border: 1px solid var(--bg-clr);
     border-radius: 0.5rem; 
     background-color: var(--white-clr);
     color: var(--pri-clr);
}


/* home section starts */

.home{
   display: flex;
   gap:1rem;
   min-height: 90vh;
   align-items: center;
   background:url(assests/home-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.home .content{
    flex:1 1 40rem;
   padding-left: 5rem;
   font-size: 1rem;
}

.home .content h3{
    font-size: 3rem;
    color:var(--heading-clr);
  }
  
  .home .content p{
    font-size: 1.1rem;
    color:var(--text-clr);
    padding:1rem 0;
  }

.btn{
    display: inline-block;
    padding:0.4rem 1.5rem ;
    border: 2px solid var(--pri-clr);
    border-radius: 0.3rem;
    color: var(--pri-clr);
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
}

.content .btn:hover{
    background: var(--pri-clr);
    color: var(--bg-clr);
}


.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    width:100%;
    padding:3rem;
    animation:float 3s linear infinite;
  }

  @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(2rem);
    }
  }

  .heading{
      text-align: center;
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom:2rem ;
      color: var(--heading-clr);
  }

  .heading span{
      color: var(--pri-clr);
  }
  
.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0 ;
}

.box{
    padding: 0.3rem;
    margin:0.3rem;
    width: 25%;
    background-color: white;
    border-radius:0.3rem ;
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.box img{
    width: 100%;
    box-shadow: 1px 2px 3px 0px;
    object-fit: cover;
}

 .parent{
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .parent h4{
     font-size: 1.4rem;
     text-align: center;
     padding: 0.3rem;
     color: rgb(92, 83, 83);
 }

 .parent .btn{
     margin-bottom: 0.6rem;
 }

 .parent .btn a,
 .parent .btn i{
    background: var(--white-clr);
    color: var(--pri-clr);
}

.parent .btn i:hover{
    font-size: 1.2rem;
} 

 .fa-cart-shopping{
     padding-left:1rem ;
     font-size: 1.1rem;
 }

 .popular .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0 ;
}

.popular .box-container .box .price{
    position: absolute;
    background-color: var(--pri-clr);
    color: var(--bg-clr);
    padding: .6rem 1rem;
    margin: .5rem;
    border-radius: .2rem;
}

.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0 ;
}

.gallery .box-container .box-g .content{
    position: absolute;
    height: initial;
    width: inherit;
    text-align: center;
    margin: 3rem 0rem 4rem 0rem;
    padding: 1rem 0 1rem 0rem;
   background:#fff0f3d5;
    z-index: -2;
}

.gallery .box-container .box-g .content h3{
    padding-bottom: 1rem;
    color: var(--pri-clr);
    font-size: 1.4rem;
}

.gallery .box-container .box-g:hover .content{
    z-index: 1;
}

.box-g{
    padding: 0.3rem;
    margin:0.3rem;
    width: 20%;
    background-color: white;
    border-radius:0.3rem ;
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.box-g img{
    width: 100%;
    box-shadow: 1px 2px 3px 0px;
    object-fit: cover;
}

.menu .menu-sec{
    display: flex;
    /* align-items: center; */
    /* flex: 4fr 1fr 4fr; */
    justify-content: center;
}

.menu .menu-sec .menu-page{
     margin-left: 10rem;
     margin-right: 2rem;
}

.menu .menu-sec .menu-page img{
    height: 70vh;
    border: 1px solid #fff0f3;
    box-shadow:  0 5px 5px #705c64ca;
}

.menu-sec .text{
    padding: 2rem;
    box-shadow:  0 5px 8px #705c64e5;
    margin: 0 8rem 0 8rem;
    height: 70vh;
    text-align: center;
}

.menu-sec .text h3{
    color: var(--heading-clr);
    font-size: 1.6rem;
    margin: 3rem 0 2rem 0;
}

.menu-sec .text p{
    line-height: 2rem;
    color: var(--text-clr);
}

.menu-sec .text a{
    margin: 3rem 0 1rem 0;
}

.menu-sec .text .btn:hover{
    background: var(--pri-clr);
    color: var(--bg-clr);
}

.menu-sec .text .hint{
    animation: textfloat 2s ease infinite;
}

@keyframes textfloat{
    0%, 100%{
      transform: translateX(0rem);
    }
    50%{
      transform: translateX(1rem);
    }
  }

  .order .order-sec{
      width: 100%;
      display: flex;
      align-items: center;
      align-self: center;
  }

  .order .order-sec .pics{
      width: 50% ;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 4rem;
  }

  .order .order-sec .pics img{
      width: 40%;
      margin: 1%;
      border: 1px solid #fff0f3;
    box-shadow:  0 5px 5px #705c64ca;
  }

  .order .order-sec .order-form{
    width: 45% ;
    border: 1px solid var(--bg-clr);
    margin-right: 4rem;
    padding: 2rem;
    box-shadow:  0 5px 5px #705c64ca;
  }

  form .inputBox input, form textarea{
    padding:1%;
    margin:2% 0;
    font-size: 1rem;
    color:var(--text-clr);
    text-transform: none;
    border: 1px solid var(--text-clr);
    border-radius: .2rem;
    width:49%;
    text-transform: capitalize;
    outline: none;
  }

  form textarea{
    width:99%;
    resize: none;
    height:7rem;
  }

  .inputBox input:focus, form textarea:focus{
      border: 1px solid var(--pri-clr);
  }

  input.btn{
      background-color: transparent;
  }

  input.btn:hover{
      background-color: var(--pri-clr);
      color: var(--bg-clr);
  }

  footer .main-box{
      background: var(--bg-clr);
  }

  footer .main-box h3{
      padding: 2rem 0 0 0;
      text-align: center;
  }

  footer .box1{
      background: var(--bg-clr);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      height: 15vh;
  }

  footer .box1 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .box1 ul li{
    margin: 1rem;
    font-size: 1.7rem;
}

footer .box1 ul li i{
    color: var(--pri-clr);
}

footer .box2{
    background: var(--pri-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

footer .box2 p{
      color: var(--bg-clr);
      margin: 0 15rem 0 15rem;
      /* letter-spacing: 2px; */
      word-spacing: 1px;
      text-align: justify;
}