@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Serif&display=swap');

body{
    margin:0 ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: poppins, sans-serif;
}

.container{
    position: relative;
    width: 400px;
    border-radius: 15px;
    min-height: 370px;
    background: rgba(225, 225, 225, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(225, 225, 225, 0.05);
    border: 15px;
    pointer-events: none;
}

.container::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #ff0048bc, #00ffeabc);
    pointer-events: none;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        filter: blur(50px) hue-rotate(0deg);
    }
    100%{
        filter: blur(60px) hue-rotate(360deg);
    }
}

.form{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    z-index: 1;
}

.form h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.form .inputBox{
    width: 100%;
    margin-top: 30px;
}

.form .inputBox input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    outline: none;
    font-size: 17px;
    color: #fff;
    padding: 6px 0;
    font-family: poppins, sans-serif;
}

.form .inputBox input:focus{
    border-bottom: 2px solid rgb(255, 255, 255);
}

::placeholder{
    color: rgba(238, 238, 238, 0.705);
}

.form .inputBox input[type="submit"]{
    background: rgba(255, 255, 255, 0.787);
    color: #000;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    max-width: 100px;
    cursor: pointer;
    margin-left: 200px;
}

.form .inputBox input[type="submit"]:hover{
    background: rgb(255, 255, 255);
    color: linear-gradient(45deg, #ff0048bc, #00ffeabc);
}

.form p{
    color: #eee;
    font-weight: 300;
    font-size: 15px;
}

.form p a{
    color: #fff;
}