*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    margin-bottom: 2rem;
    color: #E78EA9;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div{
    padding: 1.7rem;
    margin: 0.5rem;
    background-color: #E78EA9;
    border-radius: 15px;
    color: #fffbfd;
    text-align: center;
    font-size: 1.3rem;
}